body{
    box-sizing: border-box;
    background-color: burlywood;
    font-family: 'Ubuntu:ital';
    font-size: 20px;
}

.navbar .collapse .navbar-nav{
    justify-content: space-between;
}

.navbar .navbar-brand img{
    height: 35px;
}
 
.navbar .collapse .navbar-nav .social-media img{
   height: 35px; 
}

.container .content{
    color: black;
}

.contact{
    background-color: black;
    color: white;
    padding-left: 35px;
    color: goldenrod;
}

footer{
    justify-content: center;
    text-align: center;
}

footer .connect{
    margin-bottom: 20px;
    background-color: goldenrod;
}

footer .social-links ul{
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
}
footer .social-links ul img{
    height: 25px;
}

footer .social-links ul li a{
    display: inline-block !important;
}

footer .copy-right{
    height: 200px;
    background-color: black;
    color: white;
}
