body{
    box-sizing: border-box;
    background-color: burlywood;
    font-family: 'Ubuntu:ital';
    font-size: 20px;
}


.navbar .collapse .navbar-nav{
    justify-content: space-between;
}

.navbar .navbar-brand img{
    height: 35px;
}
 
.navbar .collapse .navbar-nav .social-media img{
   height: 35px; 
}

.banner{
    background-image: url(/images/menulist2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
}

.banner .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.banner .content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    display: flex; 
    align-items: flex-end; 
    color: #eee;
    font-size: 35px;
}

.container{
    background-image: url(/images/menulist3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: 500px;
}

.container .table{
    position: relative;
    color: #eee;
    z-index: 9999999;
}

.container .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute; 
    top: 0;
    left: 0;
    
}

footer{
    justify-content: center;
    text-align: center;
}

footer .connect{
    margin-bottom: 20px;
    background-color: goldenrod;
}

footer .social-links ul{
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
}
footer .social-links ul img{
    height: 25px;
}

footer .social-links ul li a{
    display: inline-block !important;
}

footer .copy-right{
    height: 200px;
    background-color: black;
    color: white;
}